body {
 	width: 1450px;
 	height: 2200px;
}	



#nav {
	font-size: 40px;
	margin: auto 20px 20px 60px;
	float: left;
	font-family: 'Codystar', cursive;
	font-weight: bold;
	color: #ffffff;
}
a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #b5d85e;
	font-weight: bold;
	text-decoration: none;
}

#container1 {
	
	width: 700px;
	height: 2200px;
	background-color: #1c80a2;
	position: fixed;
	/* float: left; */
/*  display: inline-block; */

   
}

#container2 {
	width: 700px;
	height: 3200px;
	background-color: #e22c38;
	/*float: left; */
	position: absolute;
	margin-left: 700px;

}

#question {
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	/*font-family: 'Arimo', sans-serif; */
	line-height: 50px;
	/* color: #b5d85e; */
	color: #000000;
	margin: 40px 25px 20px 60px;
	float: left;
}

#answer {
	font-size: 50px;
	line-height: 70px;
	margin: -30px 40px 20px 60px;
	float: left;
	color: #ffff00;
	font-family: 'Great Vibes', cursive;
}




