
#poster {
	background-color: #62c26a;
	border: 2px solid white;
	height: 850px;
	width: 670px;
	font-family: "Helvetica", sans-serif;
  margin: auto;
}

#column1 {
	/* background-color: black; */
	height: 400px;
  width: 200px;
  float: left;
  position: relative;
  left: 230px;
  margin-top: 100px;
  font-size: 150px;
  line-height: .25px;
  text-align: center;
  color: white;
  font-family: "Helvetica", sans-serif;
   }

   @media screen and (max-width: 500px) { 
    #column1 {
      height: 25%;
    }
  }

hr {
    width: 220px;
    height: 10px;
    color: #FFFFFF;
    margin-top: 500px;
    border-top: none;
    border-left:none;
    border-right:none;
}

@media screen and (max-width: 500px) { 
    #hr {
      height: 25%;
    }
  }

#music {
  line-height:120px;
}

   @media screen and (max-width: 500px) { 
    #music {
      height: 25%;
      font-size: 60px;
          }
  }

#viva {
  line-height:110px;
}  

@media screen and (max-width: 500px) { 
    #viva {
      height: 25%;
      font-size: 60px;
    }
  }

/*hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
} */


#column2 {
  /*background-color: red; */
  height: 280px;
  width: 180px;
  float: left;
  margin-top: 40px;
  position: relative;
  left: 30px;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 2px;
  color: #041a15;
  }

@media screen and (max-width: 500px) { 
    #column2 {
      height: 25%;
      float: left;
    }
  }
#german {
  height:40px;
  width:200px;
  float: left;
  margin-top: 5px;
  line-height:1px;
}

@media screen and (max-width: 500px) { 
    #german {
      height: 25%;
      font-size: 10px;
      margin-top:.5px;
    }
  }

#german2 {
  height:40px;
  width:300px;
  float: left;
  margin-top: 30px;
  line-height:1px;
}

@media screen and (max-width: 500px) { 
    #german2 {
      height: 25%;
      font-size: 10px;
      margin-top:10px;
    }
  }

#german3 {
  height:40px;
  width:300px;
  float: left;
  margin-top: 30px;
  line-height:1px;
}

@media screen and (max-width: 500px) { 
    #german3 {
      height: 25%;
      font-size: 6px;
      margin-top:10px;
    }
  }

#german4 {
  height:25px;
  width:300px;
  float: left;
  margin-top: 7px;
  line-height:1px;
}

@media screen and (max-width: 500px) { 
    #german4 {
      height: 25%;
      font-size: 10px;
      margin-top: 3px;
    }
  }

#german5 {
  height:30px;
  width:300px;
  float: left;
  margin-top: 38px;
  line-height:1px;
} 

@media screen and (max-width: 500px) { 
    #german5 {
      height: 25%;
      font-size: 6px;
    }
  }

#column3 {
	/* background-color: red; */
	height: 280px;
  width: 200px;
  float: left;
  left: 45px;
  position: relative;
  font-family: "Helvetica", sans-serif;
	font-size: 150px;
  line-height: 1px;
  margin-top: 30px;
  text-align: center;
  color: white;
  }
@media screen and (max-width: 500px) { 
    #column3 {
      height: 25%;
      float: left;
    }
  }
#column4 {
  /* background-color: red; */
  height: 280px;
  width: 180px;
  float: left;
  margin-top: 40px;
  position: relative;
  left: 120px;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 2px;
  color: #041a15;
}

@media screen and (max-width: 500px) { 
    #column4 {
      height: 25%;
      float: left;
    }
  }

#smalltype {
  font-family: "Helvetica", sans-serif;
  font-size: 6px;
  line-height: 1px;
  color: #041a15;
}

@media screen and (max-width: 500px) { 
    #smalltype {
      height: 25%;
      float: left;
    }
  }

#smallesttype {
  font-family: "Helvetica", sans-serif;
  font-size: 4px;
  line-height: 2px;
  color: #041a15;
}

@media screen and (max-width: 500px) { 
    #smallesttype {
      height: 25%;
    }
  }