#bottle {
	width: 1100px;
	height: 700px;
	float: left;
}

#shortbottle {
	width: 1100px;
	height: 700px;
	float: left;
	margin-top: 300px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	line-height: 50px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	line-height: 15px;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	line-height: 30px;
}

#infocontainer {
	height: 700px;
	width: 250px;
	float: left;
	/*font-family: 'Oswald', sans-serif; */
}

#info {
	width: 250px;
 	height: 500px;
 	margin-top: 20px;
	float: left;
}


#back {
	width: 250px;
	height: 15px;
	margin-top: 125px;
	float: left;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 25px;
}

a {
	color: #85e738;
	text-decoration: none;
}

a:hover {
	color: #ff7519;
	text-decoration: none;
}




/* #back {
	width: 250px;
	height: 15px;
	margin-right: 1000px;
	margin-top: 150px; 
	float: left;
	position: relative;
	clear: both; 
}
*/
